<!DOCTYPE html>
<html>
<head>
  <title>GDP</title>
  <!-- CSS Stylesheet Link -->
  <link rel="stylesheet" type="text/css" href="/styles/styles.css">
  <!-- Bootstrap CDN link -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- Jquery Script -->
  <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
  <!-- Application Script -->
  <script src="/scripts/app.js"></script>
</head>
<body>
  <h1>Ghosts of Disasters Past</h1>

  <main class="wrapper col-md-10 col-md-offset-1">
    <div class="cities col-md-12">
<!--   <div class="col-md-2" id="showAll">
  <button class="btn btn-lg">Show All</button>

  </div> -->
      <!-- <h3>City Buttons</h3> -->
      <button class="col-md-2 btn btn-lg" id="showAll">Show All</button>
      <div class="col-md-10">
        <h3 class="col-md-1" id="city-head">Cities</h3>
        <button name="location" value="San Francisco" class="city-btns btn btn-lg" id="sf-btn">San Francisco</button>
        <button value="Seattle" id="seattle-btn" class="city-btns btn btn-lg">Seattle</button>
        <button value="New York" class="city-btns btn btn-lg">New York</button>
        <button value="Los Angeles" class="city-btns btn btn-lg">Los Angeles</button>
        <button value="Miami" class="city-btns btn btn-lg">Miami</button>
        <button value="Oklahoma City" class="city-btns btn btn-lg">Oklahoma City</button>
        <button value="Toronto" class="city-btns btn btn-lg">Toronto</button>
      </div>
    </div>
    <div class="disasters col-md-2">
      <h3>Disasters</h3>
      <button value="Earthquake" class="type-btns btn btn-lg" id="quake">Earthquakes</button>
      <button value="Tornado" class="type-btns btn btn-lg" id="tornado">Tornados</button>
      <button value="Flood" class="type-btns btn btn-lg" id="flood">Floods</button>
      <button value="Hurricane" class="type-btns btn btn-lg" id="hurricane">Hurricanes</button>

    </div>
    <div class="display-box col-md-10 col-md-offset-2">
    </div>
  </main>
    <div class="new-input-form col-md-10 col-md-offset-1">
      <h4 class="col-md-3">Add New Disaster Form</h4>
      <form id="new-form" action="api/disasters" method="POST">
        <div class="disaster-form col-md-3">
          <label>Disaster:</label>
          <select name="type" class="form-control">
            <option>Earthquake</option>
            <option>Hurricane</option>
            <option>Tornado</option>
            <option>Flood</option>
          </select>
        </div>
        <div class="location-form col-md-3">
          <label>Location:</label>
          <select name="location" class="form-control">
            <option>San Francisco</option>
            <option>Seattle</option>
            <option>New York</option>
            <option>Los Angeles</option>
            <option>Miami</option>
            <option>Oklahoma City</option>
            <option>Toronto</option>
          </select>
        </div>
        <div class="name-form col-md-3">
          <label>Name of Disaster:</label>
          <input class="form-control" type="text" name="name" placeholder="1989 SF Earthquake">
        </div>
        <div class="date-form col-md-3">
          <label>Date:</label>
          <input class="form-control" type="text" name="date" placeholder="January 1, 1970">
        </div>
        <div class="deaths-form col-md-3">
          <label>Death Toll:</label>
          <input class="form-control" type="number" name="deathToll" min="0" max="1000000000">
        </div>
        <div class="dmg-form col-md-3">
          <label>Damage Cost:</label>
          <input class="form-control" type="number" name="dmgCost" min="0" max="1000000000000">
        </div>
        <div class="submit-new-disaster col-md-3">
        <label></label>
          <input class="form-control" type="submit" value="Add New Disaster">
        </div>
      </form>
    </div>

    <div class="update-form col-md-10 col-md-offset-1">
      <h4 class="col-md-3">Edit Existing Disaster</h4>
      <form id="change-form" action="#" method="PUT">
        <div class="disaster-form col-md-3">
          <label>Disaster:</label>
          <select name="type" class="form-control" id="editType">
            <option>Earthquake</option>
            <option>Hurricane</option>
            <option>Tornado</option>
            <option>Flood</option>
          </select>
        </div>
        <div class="update-location-form col-md-3">
          <label>Location:</label>
          <select name="location" class="form-control" id="editLocation">
            <option>San Francisco</option>
            <option>Seattle</option>
            <option>New York</option>
            <option>Los Angeles</option>
            <option>Miami</option>
            <option>Oklahoma City</option>
            <option>Toronto</option>
          </select>
        </div>
        <div class="update-name-form col-md-3">
          <label>Name of Disaster:</label>
          <input class="form-control" type="text" name="name" id="editName" placeholder="1989 SF Earthquake">
        </div>
        <div class="update-date-form col-md-3">
          <label>Date:</label>
          <input class="form-control" type="text" name="date" id="editDate" placeholder="January 1, 1970">
        </div>
        <div class="update-deaths-form col-md-3">
          <label>Death Toll:</label>
          <input class="form-control" type="number" name="deathToll" id="editDeaths" min="0" max="1000000000">
        </div>
        <div class="update-dmg-form col-md-3">
          <label>Damage Cost:</label>
          <input class="form-control" type="number" name="dmgCost" id="editDmg" min="0" max="1000000000000">
        </div>
        <div class="update-submit-new-disaster col-md-3">
        <label></label>
          <input class="form-control" type="submit" value="Edit Disaster">
        </div>
      </form>
    </div>

</body>
</html>