<!DOCTYPE html>
<html>
<head>
  <title>GDP</title>
  <!-- CSS Stylesheet Link -->
  <link rel="stylesheet" type="text/css" href="/styles/styles.css">
  <!-- Bootstrap CDN link -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- Jquery Script -->
  <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
  <!-- Application Script -->
  <script src="/scripts/app.js"></script>
</head>
<body>
  <h1>Ghosts of Disasters Past</h1>

  <main class="wrapper col-md-10 col-md-offset-1">
    <div class="cities">
      <h3>City Buttons</h3>
      <button class="city-btns btn btn-lg" id="sf-btn">San Francisco</button>
      <button class="city-btns btn btn-lg">Seatle</button>
      <button class="city-btns btn btn-lg">New York</button>
      <button class="city-btns btn btn-lg">Los Angeles</button>
      <button class="city-btns btn btn-lg">Miami</button>
      <button class="city-btns btn btn-lg">Oklahoma City</button>
      <button class="city-btns btn btn-lg">Toronto</button>
    </div>
    <div class="disasters col-md-2">
      <h3>Disaster Buttons</h3>
      <button class="btn btn-lg">Earthquakes</button>
      <button class="btn btn-lg">Tornados</button>
      <button class="btn btn-lg">Floods</button>
      <button class="btn btn-lg">Hurricanes</button>

    </div>
    <div class="display-box col-md-8 col-md-offset-1">
      <!-- <h3>Display Box</h3> -->
<!--       <div class="small-box col-md-3"></div>
      <div class="small-box col-md-3"></div>
      <div class="small-box col-md-3"></div>
      <div class="small-box col-md-3"></div>
      <div class="small-box col-md-3"></div>
      <div class="small-box col-md-3"></div>
      <div class="small-box col-md-3"></div>
      <div class="small-box col-md-3"></div>
      <div class="small-box col-md-3"></div> -->
    </div>

  </main>

</body>
</html>