h1 {
  text-align: center;
}

div.cities {
  padding: 5px;
  background-color: lightblue;
  border-radius: 20px;
  margin-top: 20px;
  padding: 10px;
}

h3#city-head {
  margin-right: 10px;
}

div.disasters {
  background-color: rgb(153, 0, 0);
  border-radius: 30px;
  padding-bottom: 20px;
  margin-top: 20px;
  height: 100%;
}

button.type-btns {
  padding: 10px;
  width: 150px;
}

div.display-box {
  padding: 10px;
  margin-top: -280px;
  height: 100%;
}

main.wrapper {
  height: 100%;
}

div.small-disaster-box {
  padding: 20px;
  padding-right: 30px;
  height: 200px;
  width: 200px;
  margin: 10px;
  border-radius: 30px;
}

ul {
    text-decoration: none;
}

.new-input-form {
  margin-top: 20px;
  padding: 20px;
  border-radius: 30px;
  background-color: rgb(92, 214, 92);
}

.update-form {
  background-color: rgb(163, 102, 255);
  margin-top: 20px;
  padding: 20px;
  border-radius: 30px;
  color: white;
}

#showAll {
  padding: 10px;
}

button#quake {
  background-color: darkgoldenrod;
}

button#tornado {
  background-color: rgb(128, 128, 128);
}

button#flood {
  background-color: lightblue;
}

button#hurricane {
  background-color: royalblue;
}





